<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="span4 offset4 well">
      <h3>{{'Welcome' | i18n}}</h3>
      <p>{{'ChooseOneOptionToContinue' | i18n }}</p>
      <a href="#/opened/exercicio01" class="btn btn-large btn-info btn-block"><i class="icon-cloud-upload"></i> {{ 'LoadExercise' | i18n }}</a>
      <a href="#/create" class="btn btn-large btn-primary btn-block"><i class="icon-lightbulb"></i> {{ 'CreateNewExercise' | i18n }}</a>
    </div>
  </div>
</div>