<div class="instr repeat" id="node{{node.id}}">
    <div class="handle"><i class="fa fa-sort"></i></div>
        <span><a href="javascript:;" ng-click="childrenVisible(node)"><img src="img/expand_up.png" ng-show="node.isChildrenVisible" /><img src="img/expand_down.png" ng-hide="node.isChildrenVisible" /></a></span>
        <!-- for simples -->

        <span ng-show="node.forType==1">
            Repetir 
            <span var-value="node.limit" ttype="node.limitType" type="'int'" vars="program.functions[currentFunction].vars" class="for1"></span>
             vezes
        </span>
        <span ng-show="node.forType==2">
            Repetir 
            <span var-value="node.limit" ttype="node.limitType" type="'int'" vars="program.functions[currentFunction].vars" class="for1"></span>
             vezes, incrementando 
             <span select-variable="node.using" select-vars="program.functions[currentFunction].vars" type="'int'" class="for2"></span>
        </span>
        <span ng-show="node.forType==3">
            Repita, usando <span select-variable="node.using" select-vars="program.functions[currentFunction].vars" type="'int'"></span> de <span var-value="node.initial" ttype="node.initialType" type="'int'" vars="program.functions[currentFunction].vars"></span> até <span var-value="node.limit" ttype="node.limitType" type="'int'" vars="program.functions[currentFunction].vars"></span>, incrementando de <span var-value="node.step" ttype="node.stepType" type="'int'" vars="program.functions[currentFunction].vars" class="for3"></span>
        </span>
        <span class="btn-group">
                <button ng-show="node.forType>1" class="btn btn-xs btn-warning" ng-click="changeForType(node, -1)"><i class="fa fa-angle-double-left"></i></button>
                <button ng-show="node.forType<3" class="btn btn-xs btn-warning" ng-click="changeForType(node, 1)"><i class="fa fa-angle-double-right"></i></button>
        </span>

        <!--
        <span ng-show="node.simple">
            <span ng-show="node.isValue">
                Repetir 
                    <span edit-in-place-var-value="node.times" type="'int'"></span>
            </span>
            <span ng-show="!node.isValue">
               Repetir <span edit-in-place='node.times'></span> vezes usando <span select-variable="node.simpleVariable" select-model="node.simpleVariable" select-vars="program.functions[currentFunction].vars"></span>
            </span>
            <button class="btn btn-xs" ng-click="changeForValue(node)"><i class="fa fa-wrench"></i></button>
vezes. 
            <button class="btn btn-xs btn-warning" ng-click="changeForType(node)"><i class="fa fa-angle-double-right"></i></button>
        </span>-->
        

    <span ng-hide="node.simple">para <span select-variable="node.variable" select-model="node.variable" select-vars="program.functions[currentFunction].vars"></span> = <span edit-in-place='node.initialValue'></span> até <span edit-in-place='node.endValue'></span> incrementando em <span edit-in-place='node.increment'></span> faça <button class="btn btn-xs btn-warning" ng-click="changeForType(node)"><i class="fa fa-angle-double-left"></i></button></span>
    <button class="btn btn-danger btn-sm btn-delete" ng-click="removeItem(node.parent, node)"><i class="fa fa-minus"></i></button>
    
    <span ng-show="node.isChildrenVisible">
        <span ng-include="'nodes.html'"></span>
        <span ng-include="'partials/elements/btns.html'"></span>
    </span>
</div>