<div class="instr repeat">
        <div class="handle"><i class="fa fa-sort"></i></div>

        <span><a href="javascript:;" ng-click="childrenVisible(node)"><img src="img/expand_up.png" ng-show="node.isChildrenVisible" /><img src="img/expand_down.png" ng-hide="node.isChildrenVisible" /></a></span>

            se ( 
            <span edit-expression-java="node.exp" type="'boolean'" vars="program.functions[currentFunction].vars"></span>
            )

        <button class="btn btn-danger btn-sm btn-delete" ng-click="removeItem(node.parent, node)"><i class="fa fa-minus"></i></button>

        <span ng-show="node.isChildrenVisible">
            <span ng-include="'nodes1.html'"></span>
            <span buttons="node.nodes1" id-parent="node.id"></span>
            
            senão <br>
            <span ng-include="'nodes2.html'"></span>
            <span buttons="node.nodes2" id-parent="node.id"></span>
        </span>
        </div>
    </div>