    <script type="text/ng-template"  id="exp_r.html">
        (<span ng-repeat="item in item.v">
            <span ng-show="item.t=='exp'">
                <span ng-include="'exp_r.html'"></span>
            </span>
            <span ng-show="item.t=='expB'">
                <span ng-include="'exp_r_bool.html'"></span>
            </span>
            <span ng-show="item.t=='var'">
                {{vars[item.v].name}}
            </span>
            <span ng-show="item.t=='val'">
                {{item.v}}
            </span>

            <span ng-show="item.t=='op'">
                {{operators2[item.v].display}}
            </span>
            <span ng-show="item.t=='opB'">
                {{operators[item.v].display}}
            </span>
        </span>
        )
    </script>

    <script type="text/ng-template"  id="exp_r_bool.html">
        (<span ng-repeat="item in item.v">
            <span ng-show="item.t=='exp'">
                <span ng-include="'exp_r.html'"></span>
            </span>
            <span ng-show="item.t=='expB'">
                <span ng-include="'exp_r_bool.html'"></span>
            </span>
            <span ng-show="item.t=='var'">
                {{vars[item.v].name}}
            </span>
            <span ng-show="item.t=='val'">
                {{item.v}}
            </span>

            <span ng-show="item.t=='op'">
                {{operators2[item.v].display}}
            </span>
            <span ng-show="item.t=='opB'">
                {{operators[item.v].display}}
            </span>
        </span>
        )
    </script>

    <span ng-repeat="item in ex">
        
        <span ng-show="item.t=='exp'">
            <!--span edit-expression-java="item.v" vars="vars" type="type"></span-->
            <span ng-include="'exp_r.html'"></span>
        </span>
        <span ng-show="item.t=='expB'">
            <!--span edit-expression-java="item.v" vars="vars" type="type"></span-->
            <span ng-include="'exp_r_bool.html'"></span>
        </span>
        <span ng-show="item.t=='var'">
            {{vars[item.v].name}}
        </span>
        <span ng-show="item.t=='val'">
            {{item.v}}
        </span>
        <span ng-show="item.t=='op'">
            <span select-operator="item.v" type="type"></span>
        </span>
    </span>